.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.parent-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

}

h2 {
  font-size: 50px; 
  font-family: 'Arial', sans-serif; 
  font-weight: bold;
}

.EventTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.rowC {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
}

/* Add Event Button */
.AddEvent { 
  width: 130px;
  height: 30px;
  color: #eef3f2;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align:center;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #4CAF50;
  
}

/* year selecter */
label[for="yearSelect"] {
  margin-top: 10px; 
  font-weight: bold;
  font-size: 18px;
  font-family: "Source Sans Pro";
}

#yearSelect {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.edit-button {
  width: 92px;
  height: 26px;
  color: #f4f1f1;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  background: #589ce4; 
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3; 
}

.delete-button {
  width: 92px;
  height: 26px;
  color: #faf6f6;
  font-family: "Source Sans Pro";
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  background: #bf6366;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d30505; 
}

.add-event-form {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; 
}

.form-buttons button {
  margin-left: 10px; 
}

.nav-container {
  margin-top: 40px; 
}

.EventTableMainTable th,
.EventTableMainTable td {
  border: 1px solid #555; 
  padding: 8px;
}

.EventTableMainTable th {
  background-color: #333; 
  color: white; 
}

#startDateEventth:hover{
  text-decoration: underline;
}

.EventTableMainTable {
  border-collapse: collapse;
  width: 95%;
  margin-top: 20px; 
  background: #f5f8f7;
}

.EventTableMainTable td button {
  margin-right: 5px;
}

/* Task table */
.TaskTableMainTable th,
.TaskTableMainTable td {
  border: 1px solid #555; 
  padding: 8px;
}

.TaskTableMainTable th {
  background-color: #333; 
  color: white; 
}

.TaskTableMainTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px; 
  background-color: #f5f8f7;
}

.TaskTableMainTable td button {
  margin-right: 5px;
}

/* .todo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  padding-top: 100px;
}

.todo-month {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-status {
  margin: 0 10px;
}

.todo-month {
  border-collapse: collapse;
  width: 100%;
}

.todo-item th,
.todo-item td {
  width:33%;
  border: 1px solid #ddd;
  padding: 8px;
  margin-right: 10px;
}

.todo-item th {
  background-color: #f2f2f2;
}

.todo-item td:not(:last-child) {
  border-right: 1px solid #ddd;
}

.todo-item select {
  margin-left: 10px;
}

.todo-heading {
  font-weight: bold;
} */

/* add event */
.add-event-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  font-family: 'Arial', sans-serif;
}

.add-event-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.add-event-form input,
.add-event-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.add-event-form textarea {
  height: 100px; 
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}

/* submit button */
.form-buttons button {
  padding: 10px 20px;
  background-color: #20a50c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form-buttons button:hover {
  background-color: #1a7a09; 
}

/* edit event */
.edit-event-form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  font-family: "Bond", Arial, Helvetica, sans-serif; 
}

.edit-event-form label {
  margin-bottom: 10px;
}

.edit-event-form input,
.edit-event-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.edit-event-form textarea {
  height: 100px; 
}

.add-task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  font-family: "Bond", Arial, Helvetica, sans-serif; 
  font-weight: bold;
  /* background-color: #f0b8b8; */
}


.add-task-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.add-task-form input,
.add-task-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.add-task-form textarea {
  height: 100px; 
}

.edit-task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  font-family: "Bond", Arial, Helvetica, sans-serif; 
  /* background-color: #f0b8b8; */
}

.edit-task-form label {
  margin-bottom: 10px;
}

.edit-task-form input,
.edit-task-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  display: block; 
  margin-bottom: 10px; 
}

select {
  display: block; 
  margin-top: 5px; 
}

/* 
add task button */
.AddTask {
  background-color: #4CAF50; 
  border: none;
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.AddTask:hover {
  background-color: #216125;
}

.TaskTableMainTable th,
.TaskTableMainTable td {
  border: 1px solid #555; 
  padding: 8px;
}

.TaskTableMainTable th {
  background-color: #333; 
  color: white; 
}

.TaskTableMainTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px; 
}

.TaskTableMainTable td button {
  margin-right: 5px;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* background-color: #d6d3d3;  */
  padding: 10px 0; 
}

.nav-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #d2d7da;
  color: #0b0b0b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-container button:hover {
  background-color: #b3bdc2;
}

.nav-container button:focus {
  outline: none;
}


